<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pokedex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E9683A11F27BBFA0073B665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E9683B51F27BBFA0073B665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E9683C01F27BBFA0073B665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
